/* Шрифты GOOGLE FONTS ==============================================*/
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,900&display=swap"); */

/* Шрифты ЛОКАЛЬНО ==============================================*/
/* @font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue-Bold.woff2') format('woff2'),
		url('../fonts/HelveticaNeue-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue.woff2') format('woff2'),
		url('../fonts/HelveticaNeue.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
} */
/* ОБНУЛЕНИЕ ================================================= */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}
body._lock {
	overflow: hidden;
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	padding: 0px;
}

/* svg path {
	fill:inherit;
	stroke:inherit;
	stroke-width:inherit;
} */
/* ================================================================================ */
body {
	font-family: "Roboto";
}
/* ========================================================= */
._container {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}
._container2 {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* ._container3 {
	max-width: 604px;
	margin: 0px auto;
	padding: 0px 20px;
} */

/* ._container4 {
	max-width: 685px;
	margin: 0px auto;
	padding: 0px 20px;
} */

/* ========================================================= */
/* .box_shadow {
	box-shadow: 0px 0 15px rgba(0, 0, 0, 0.5), inset  0px 0 15px rgba(0, 0, 0, 0.8);
	border-radius: 30px;
	padding: 30px 0px 30px 0px;
	background-color: rgb(134, 238, 212);
} */
/* ========================================================= */
a {
	color: #58bebf;
}
/* ========================================================= */
.wrapper {

}
body {

}

/* ========================================================= */

.page {
	min-height: 100vh;
	position: relative;

}
.header {
	overflow: auto;
	position: relative;
	width: 100%;
	min-height: 100vh;
	top: 0;
	left: 0;
	background: url('../img/img_fs.jpg') center / cover no-repeat;
}
.header__container {
	padding: 26px 15px;
}
.header__body {
	position: relative;
	/* margin: 0px 0px 124px 0px; */
	margin: 0px 0px 11.8% 0px;
}
@media (max-width: 900px){
	.header__body {
		margin: 0px 0px 4.8% 0px;
	}
}
@media (max-width: 620px){
	.header__body {
		margin: 0px 0px -3.2% 0px;
	}
}
@media (max-width: 500px){
	.header__body {
		margin: 0px 0px 17% 0px;
	}
	.header {
		min-height: 550px;
	}
}
@media (max-width: 450px){
	.header__body {
		margin: 0px 0px 23% 0px;
	}
}

.header__top {
	color: #fff;
	display: flex;
	justify-content:space-between;
}
.header__top:not(:last-child) {
	margin: 0px 0px 28px 0px;
}
.header__logo {
transition: all 0.3s ease 0s;
}
.header__logo:hover {
	padding: 0px 0px 0px 5px;
}
.logo {
}
.logo__link {
	position: relative;
	z-index: 5;
	display: inline-block;
	width: 174px;
	height: 41px;
	background: url('../img/top/logo.png') 0 0 / 100% no-repeat;
}
.logo__img {
}
.header__info {
}
.header__info :not(:last-child) {
	margin: 0px 32px 0px 0px;
}
.info {
	display: flex;
	align-items: center;
}
.info__mode {
	position: relative;
	padding: 0px 0px 0px 34px;
	max-width: 196px;
}
.info__mode::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	left: 0;
	background: url('../img/top/time.svg') 0 0 / 100% no-repeat;
}
.info__text {
	font-weight: bold;
	font-size: 12px;
	line-height: 183%;
	letter-spacing: 0.15px;
	max-width: 196px;
}
.info__telephone {
	position: relative;
	padding: 0px 0px 0px 34px;
}
.info__telephone::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 0;
	left: 0;
	background: url('../img/top/phone.svg') 0 0 / 100% no-repeat;
}
.info__tel {
	font-weight: 500;
	font-size: 12px;
	line-height: 183%;
	letter-spacing: 0.15px;
}

.info__button {
}
.info__btn {
}
._btn {
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #F2726F;
	border-radius: 8px;
	padding: 9px 35px;
	transition: all 0.3s ease 0s;
}
._btn:hover {
	background-color: #d34846;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* ========================== */
.menu__body .info__button {
	display: none;
}

/* ========================================================= */

@media (min-width: 767.98px) and (max-width: 912px) {
	.logo__link {
		width: 147.9px;
		height: 34.85px;
	}

	.info__text,
	.info__tel {
		font-size: 11px;
	}
	.info__mode,
	.info__telephone {
	padding: 0px 0px 0px 25px;
	}
	.info__mode::before,
	.info__telephone::before {
		width: 20px;
		height: 20px;
	}
	.header__info :not(:last-child) {
		margin: 0px 25px 0px 0px;
	}

	._btn {
		font-size: 11px;
		padding: 7px 25px;
		}
}
/* =========================== */
@media (max-width: 800px) {
	.header__info :not(:last-child) {
		margin: 0px 15px 0px 0px;
	}
}

@media (max-width: 767.98px){
	.logo__link {
		position: fixed;
		z-index: 5;
		display: block;
		width: 174px;
		height: 66px;
		background: url('../img/top/logo.png') 0 25px / 100% no-repeat;
	}

	.header__top {
		display: block;
	}

	.header__info {
		display: flex;
		transform: translate(0px,74px);
	}

	.header__info .info__telephone {
		margin: 0;
	}
	.header__info .info__mode {
		margin: 0;
	}

	.logo__link {
		top: -7px;
	}

	.info__button {
		display: none;
	}
	.menu__body .info__button {
		display: inline-block;
		margin: 30px 0px 0px 0px;
	}

}

@media (max-width: 620px){
	.header__info {
		flex-direction: column;
		align-items: start;
		row-gap: 20px;
	}
}
@media (max-width: 500px){
	.header__info {
		position: relative;
		left: 50%;
		transform: translate(0px,135px);
		margin: 0px 0px 40px 0px;
	}
	.info__mode {
		transform: translate(-50%,0px);
	}
	.info__telephone {
		transform: translate(-75%,0px);
	}
}

@media (max-width: 480px){
	.header__info .info__mode {
		margin: -20px 0px 0px 0px;
	}
}

@media (max-width: 370px){
	.header__info .info__telephone {
		margin: -10px 0px 0px 0px;
	}
}

/* ========================================================= */
.header__menu {
	/* margin: 0px 0px 108px 0px; */
}
.menu {
	display: flex;
	justify-content:space-between;
	background: #FFFFFF;
	border-radius: 10px;
	padding: 19.5px 40px;
}

.icon-menu {
}
.menu__body {
	align-self: center;
}
.menu__list {
	display: flex;
}
.menu__list :not(:last-child) {
	margin: 0px 37px 0px 0px;
}

.menu__link {
}

.menu__link a {
	position: relative;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 157%;
	letter-spacing: 0.15px;
	color: #000000;
	transition: all 0.3s ease 0s;
}

.menu__link:hover a {
	color: #d34846;
}

.menu__link a::after {
	content:'';
	display: inline-block;
	position: absolute;
	left: 50%;
	width: 0%;
	height: 2px;
	bottom: 0px;
	transition: all 0.3s ease 0s;
}

.menu__link a:hover::after {
	left: 0;
	width: 100%;
	background-color: #F2726F;
}

@media (max-width: 767.98px){
	.menu__link a {
		position: static;
	}
	.menu__link a:hover::after {
		width: 0;
	}
}
/* ==================================================================================================== */
/* ==================================================================================================== */

.menu__icons {
	display: flex;
}
.menu__img {
}
.menu__img:not(:last-child) {
	margin: 0px 22px 0px 0px;
}
.menu__img_search {

}
.search {
	cursor: pointer;
	background-color: #2dbbbd00;
	outline: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.152);
	min-height: 20px;
	max-width: 90px;
}
.search:focus {
	border-bottom: 1px solid #000;
}
.search-btn {
	cursor: pointer;
	background-color: #2dbbbd00;
}
.menu__img_shopping {
	cursor: pointer;
	position: relative;
}
.menu__quantity {
position: absolute;
width: 16px;
height: 16px;
border-radius: 50%;
background-color: #F2726F;
top: -7px;
right: -7px;
font-weight: 500;
font-size: 10px;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.15px;
color: #FFFFFF;
}

@media (max-width: 500px){
	.search {
		border-bottom: 1px solid rgba(0, 0, 0, 0);

	}
}
/* ========================================================= */
@media (max-width: 920px){
	.menu__list :not(:last-child) {
		margin: 0px 30px 0px 0px;
	}
}

@media (max-width: 800px){
	.menu__list :not(:last-child) {
		margin: 0px 25px 0px 0px;
	}
}

/* ========================================================= */
@media (max-width: 767.98px){
	.menu {
		background-color: rgba(255, 255, 255, 0);
	}
}
/* ========================================================= */
.menu__icon {
	display: none;
}
@media (max-width: 767.98px) {
	.menu__icon {
		display: block;
		position: fixed;
		top: 30px;
		right: 27px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.menu__icon span {
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #fff;
	}
	.menu__icon span:first-child {
		top: 0px;
	}
	.menu__icon span:last-child {
		top: auto;
		bottom: 0px;
	}

	.menu__icon._active span {
		transform: scale(0);
	}
	.menu__icon._active span:first-child {
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}
	.menu__icon._active span:last-child {
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}



	.menu__icons {
position: absolute;
width: 200px;
height: 40px;
top: 74px;
right: 0px;
justify-content: end;
align-items: center;
background-color: rgb(255, 255, 255);
border-radius: 8px;
padding: 5px 20px 0px 10px;
	}

	.menu__body {
		position: fixed;
		z-index: 3;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		text-align: center;
		background-color: #0e9294dc;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		width: 100%;
		height: 77px;
		top: 0;
		left: 0;
		background: #2dbbbd;
	}
	.menu__list {
		display: block;
	}
	.menu__link a {
		color: #fff;
		font-size: 24px;
	}
	.menu__list > li:not(:last-child) {
		margin: 0px 0px 24px 0px;
	}
}

@media (max-width: 500px){
	.menu__icons {
		width: 100%;
	}
}

/* ========================================================= */

.header__base {
}
.base {
}
.base__content {
}


.base__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 100%;
	color: #FFFFFF;
	max-width: 583px;
}
.base__title:not(:last-child) {
	margin: 0px 0px 48px 0px;
}
@media (max-width: 912px){
	.base__title {
		font-size: 50px;
	}
	.base__title:not(:last-child) {
		margin: 0px 0px 3% 0px;
	}
}


/* ================================================================================================================== */
@media (max-width: 767.98px){
	.base__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.header__menu {
		margin: 0px 0px 0px 0px;
	}
}
@media (max-width: 620px){
	.header__menu {
		margin: 0px 0px 40px 0px;
	}
	.base__title {
		font-size: 40px;
		max-width: 556px;
	}
}
@media (max-width: 500px){
	.header__menu {
		margin: 0px 0px 40px 0px;
	}
	.base__title {
		font-size: 35px;
		max-width: 556px;
	}
	._btn {
		font-size: 11px;
		padding: 7px 25px;
		}

	.base__title:not(:last-child) {
		margin: 0px 0px 38px 0px;
	}
}
@media (max-width: 410px){
	.base__title {
		font-size: 35px;
		max-width: 315px;
	}
	.base__title:not(:last-child) {
		margin: 0px 0px 28px 0px;
	}
}

/* ================================================================================================================== */
/* ================================================================================================================== */

.main {
	position: relative;
	margin: -80px 0px 250px 0px;
}

.main__container {
}

.main__we {
	margin: 0px 0px 100px 0px;
}
.we {
	position: relative;
	background: #5D62B5;
	border-radius: 40px;
	padding: 100px 87px 0px 87px;
	max-height: 700px;
}
.we::before {
	content: '';
	display: block;
	position: absolute;
	/* width: 100%; */
	width: 19.7%;
	min-height: 317px;
	top: -107px;
	right: -7.54%;
	background: url('../img/we/сircles.png') center / 100% no-repeat;
}
.we::after {
	content: '';
	display: block;
	position: absolute;
	/* width: 665px; */
	width: 65.19%;
	min-height: 591px;
	/* height: 57.94%; */
	bottom: -150px;
	left: -15px;
	background: url('../img/we/blod.png') center / 100% no-repeat;
}
.we__header {
}
.we__header:not(:last-child) {
	margin: 0px 0px 36px 0px;
}
.we__subtitle {
	font-weight: bold;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #F5F5F5;
	padding: 0px 0px 0px 33px;
	background: url('../img/we/label.svg') 0 -2px no-repeat;
}
.we__subtitle:not(:last-child) {
	margin: 0px 0px 33px 0px;
}
.we__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #FFFFFF;
	max-width: 583px;
}

.we__text {
	position: relative;
	z-index: 1;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #F5F5F5;
}
.we__text:not(:last-child) {
	margin: 0px 0px 54px 0px;
}
.main__image {
	position: relative;
	z-index: 1;
	padding: 0px 0px 49.645% 0px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	max-width: 846px;
}
.main__img {
	border-radius: 40px;
}
._img {
	position: relative;
}
._img img {
	object-fit: cover;
	object-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* ========================================================= */
@media (max-width: 1200px){
	.main {
		margin: -80px 0px 15% 0px;
	}
}
@media (max-width: 800px){
	.main {
		margin: -80px 0px 10% 0px;
	}
}
@media (max-width: 500px){
	.main {
		margin: -40px 0px 10% 0px;
	}
}
@media (max-width: 767.98px){
	.we {
		padding: 70px 87px 0px 87px;
		max-height: 600px;
	}
	.we__subtitle:not(:last-child) {
		margin: 0px 0px 28px 0px;
	}
	.we__header:not(:last-child) {
		margin: 0px 0px 30px 0px;
	}
	.we__text:not(:last-child) {
		margin: 0px 0px 34px 0px;
	}
}

@media (max-width: 620px){
	.we {
		padding: 60px 75px 0px 75px;
		max-height: 550px;
	}
	.we__title {
		font-size: 30px;
	}
}

@media (max-width: 500px){
	.we {
		padding: 50px 65px 0px 65px;
		max-height: 600px;
	}
}

@media (max-width: 402px){
	.we {
		padding: 50px 55px 0px 55px;
		max-height: 620px;
	}
}

@media (max-width: 379px){
	.we {
		padding: 40px 65px 0px 65px;
		max-height: 720px;
	}
}
@media (max-width: 345px){
	.we {
		padding: 30px 45px 0px 45px;
		max-height: 690px;
	}
}
/* ================================================================================================================================================= */
/* ================================================================================================================================================= */
.dog-ball {
	overflow: hidden;
	background: #29C3BE;
	margin: 0px 0px 100px 0px;
}
.dog-ball__container {
}
.dog-ball__row {
	display: flex;
	padding: 2.98% 0px 0px 0px;
}
.dog-ball__column {
	flex: 0 1 50%;
}
.dog-ball__column_image {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
.dog-ball__image {
	position: relative;
	padding: 0px 0px 65.333% 0px;
}

.dog-ball__image::before {
	content: '';
	display: block;
	position: absolute;
	/* width: 100%; */
	width: 29.07%;
	min-height: 317px;
	/* top: 79px; */
	/* top: 15.73%; */
	/* bottom: 61px; */
	bottom: 13%;
	left: -3.54%;
	background: url('../img/dog-ball/circles.png') center / 100% no-repeat;
}

.dog-ball__image::after {
	content: '';
	display: block;
	position: absolute;
	/* width: 665px; */
	width: 70.21%;
	min-height: 591px;
	/* height: 57.94%; */
	top: -278px;
	/* left: -142px; */
	left: -18%;
	background: url('../img/dog-ball/blod.png') center / 100% no-repeat;
}

.dog-ball__img {
	object-fit: cover;
	object-position: center;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}
.dog-ball__column_content {
	position: relative;
	padding: 4.79% 0px 11.73% 6.73%;
}

.dog-ball__column_content::after {
	content: '';
	display: block;
	position: absolute;
	width: 84.39%;
	min-height: 387px;
	/* height: 57.94%; */
	bottom: 106px;
	left: 22px;
	background: url('../img/dog-ball/line.png') center / 100% no-repeat;
}
.dog-ball__column_content::before {
	content: '';
	display: block;
	position: absolute;
	z-index: 1;
	width: 19.29%;
	min-height: 136px;
	/* height: 57.94%; */
	bottom: 237px;
	right: 22px;
	background: url('../img/dog-ball/ball.png') center / 100% no-repeat;
}

.dog-ball__column_content *:not(:last-child) {
	margin: 0px 0px 44px 0px;
}
.dog-ball__title {
	position: relative;
	z-index: 2;
	font-weight: 900;
	font-size: 36px;
	line-height: 125%;
	color: #FFFFFF;
	max-width: 411px;
}
.dog-ball__button {
	position: relative;
	z-index: 2;
}
.dog-ball__btn {
}
._btn {
}
/* ========================================================= */
@media (max-width: 850px){
	.dog-ball__title {
	font-size: 3.5vw;
	}
}

@media (max-width: 1014px){
	.dog-ball__title {
		max-width: 355px;
	}
}

@media (max-width: 767.98px){
	.dog-ball__row {
		display: flex;
		flex-direction:column-reverse;
	}
	.dog-ball__column_content {
		/* padding: 69px 0px 169px 97px; */
		padding: 4.79% 0px 0% 6.73%;
	}
	.dog-ball__title {
		font-size: 5.5vw;
	}
	.dog-ball__column_content::after,
	.dog-ball__column_content::before {
	min-height: 0px;
	}
	.dog-ball__image::before,
	.dog-ball__image::after {
	min-height: 0px;
	}
	.we::before,
	.we::after {
	min-height: 0px;
	}
}
@media (max-width: 525px){
	.dog-ball__title {
		font-size: 6.5vw;
	}
}
@media (max-width: 480px){
	.menu__body::before {
		height: 50px;
	}
	.logo__link {
		width: 147.9px;
		top: -17px;
	}
	.menu__icon {
		top: 17px;
	}

	.menu__icons {
		top: 56px;
	}
}

/* ========================================================= */
/* ========================================================= */
